@use "variables" as v;
.contact {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  margin-top: 153px;
  margin-bottom: 90px;
  // background-color: red;
  .contact-header {
    font-size: 25px;
    font-weight: v.$gsb;
    width: 230px;
    border-bottom: 2px solid;
    margin-bottom: 65px;
    padding-bottom: 10px;
  }
  .contact-info {
    display: flex;
    justify-content: space-between;
    .contact-form {
      max-width: 529px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 21px;
      input {
        max-width: 529px;
        width: 100%;
        height: 60px;
        background-color: #f1f1f1;
        border-style: none;
        padding-left: 21px;
        font-size: 16px;
      }
      input::placeholder {
        color: black;
        opacity: 50%;
      }
      textarea {
        max-width: 529px;
        width: 100%;
        height: 199px;
        padding: 18px 21px;
        font-size: 16px;
        font-family: gill-sans-nova, sans-serif;
        background-color: #f1f1f1;
        border: none;
      }
      textarea::placeholder {
        color: black;
        opacity: 50%;
      }
      .contact-button {
        height: 60px;
        max-width: 167px;
        width: 100%;
        font-weight: v.$gsb;
        font-size: 16px;
        background-color: #ee4367;
        border-color: #ee4367;
        border-style: solid;
        color: white;
        letter-spacing: 2px;
        cursor: pointer;
      }
    }
    .contact-map {
      background-image: url("/images/map.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 442px;
      max-width: 400px;
      width: 100%;
    }
  }
}
