// @use "variables" as v;
// color: v.$color-blue;
// max-width: v.$site-width;
//font-family: proxima-nova-extra-condensed, sans-serif;
//site width
$site-width: 1280px;
$site-content-width: 980px;
$gsl: 300;
$gsl: 300;
$gsb: 400;
$i: italic;
$gssbi: 600;
$gsbold: 700;
$color-purple: #540d6e;
$color-pink: #ee4367;
$color-light-pink: #f56b88;
$color-yellow: #ffd140;
$color-blue: #3bceab;
$color-green: #08ad69;
